@import "tailwindcss";

@theme {
    --color-primary-text: #fff;
    --color-secondary-text: #8b919a;
    --color-border: #3d444d;

    --color-primary-lighter-bg: #0d1116;
    --color-secondary-darker-bg: #02040a;

    --color-button-bg: #238636;
    --color-highlight-pink: #ff68b4;
    --color-highlight-blue: #2b7fff;
}

.container {
    padding: 0 12px;
}

body {
    background-color: var(--color-primary-lighter-bg);
}

.dashboard_tab.active{
    border-left: 1.4px solid white;
}